html{
    /* background: purple; */
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 10px;
}

body {
    margin:0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock{
    width: 30rem;
    height: 30rem;
    /* border: 20px solid white; */
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
    /* box-shadow: 0 0 0 4px blue,
    inset 0 0 0 3px red,
    inset 0 0 10px green,
    0 0 10px yellow; */
    
}

.center-of-clock{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    background-color: black;
}

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand{
    /* width: 50%; */
    height: 6px;
    /* background: black; */
    position: absolute;
    top: 50%;
    transform-origin:100% ;
    /* transform: rotate(90deg); */
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}


.second-hand{
    background-color: orange;
    width: 50%;
}

.min-hand{
    background-color: lightblue;
    width: 45%;
    margin-left: 20px;

  }

  .hour-hand{
    background-color: green;
    width: 30%;
    margin-left: 55px;
}

.clock-bg{
    position: absolute;
    inset: 0;
    /* transform: scale(1.2); */
  }

.clock-bg img{
    width: 100%;
    height: 100%;
  }

